.article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.article-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 730px;
}

.base-container {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

p {
  font-size: 21px;
}

h1 {
  line-height: 40px;
  font-size: 36px;
}
