<div class="base-container">
  <div class="article-container" *ngIf="article">
    <div class="article">
      <h1>{{ article.title }}</h1>
      <img
        src="{{ article.imagePath || defaultImagePath }}"
        alt="{{ article.title }}"
      />
      <p>{{ article.body }}</p>
    </div>
  </div>
</div>
