.page-title-container {
  line-height: 40px;
  font-size: 36px;
  margin-bottom: 25px;
}

.base-container {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  max-width: 1192px;
  width: 100%;
  margin: 0 auto;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: var(--h4-color);
  transition: all 0.2s ease;
}
