<div class="base-container">
  <div class="page-title-container">
    <h1 class="page-title">Submit Article</h1>
  </div>
  <form
    [formGroup]="mainArticleEditFormGroup"
    (ngSubmit)="onSubmit()"
    *ngIf="mainArticleEditFormGroup"
  >
    <div class="row"><label for="title">Title</label></div>
    <input
      type="text"
      id="title"
      class="form-control"
      name="title"
      formControlName="title"
    />
    <div class="row">
      <div class="row">
        <label for="description">Description</label>
      </div>
      <textarea
        id="body"
        class="form-control"
        name="body"
        formControlName="body"
      ></textarea>
    </div>
    <div class="row">
      <label for="imagePath">Image Path</label>
      <div class="imagePath">
        <input
          type="text"
          id="imagePath"
          class="form-control"
          name="imagePath"
          formControlName="imagePath"
        />
      </div>
    </div>
    <!-- <eld-error  *ngIf="mainArticleEditFormGroup.controls.get('title').errors('required')">
      Title is required -->
    <!-- <ng-content></ng-content> -->
    <!-- </eld-error> -->
    <div class="row">
      <br />
      <button
        type="button"
        class="submit-button"
        type="submit"
        [disabled]="!mainArticleEditFormGroup.valid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
