<div class="base-container">
  <div class="title-containter">
    <h1>Articles</h1>
  </div>
  <div class="articles">
    <a
      routerLink="/articles/article/{{ article.id }}"
      routerLinkActive="active"
      *ngFor="let article of (articles$ | async).articles"
    >
      <div class="article-display">
        <img [src]="imagePath" alt="{{ article.title }}" />
        <h4>{{ article.title }}</h4>
        <p appHighlight>
          {{ article.body | truncate: [100] }}
        </p>
      </div>
    </a>
  </div>
</div>
