.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.article-container {
  margin: 0 -16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1176px;
}

.article-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  max-width: 398px;
  padding: 0 16px 24px;
}

.title-container {
  line-height: 40px;
  font-size: 36px;
  margin-bottom: 25px;
}

.base-container {
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  max-width: 1192px;
  width: 100%;
  margin: 0 auto;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

h4 {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: var(--h4-color);
  transition: all 0.2s ease;
}
